<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<!-- layout文件路径-->
<head>
<meta charset="utf-8" />
<title>BLog 首页</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
	<div layout:fragment="content" class="admin-content-body">
		<article class="blog-main"  th:object="${post}">
			<h3 class="am-article-title blog-title">
				<a href="#" th:text="*{title}" th:href="@{/blog/article/{id}(id=*{id})}">标题</a>
			</h3>
			<h4 class="am-article-meta blog-meta">
				by <a href="" th:text="*{author}" th:href="@{/blog/author/{name}(name=*{author})}">作者</a> 
				posted on 
				<a href="" th:text="*{ #calendars.format(postDate,'yyyy-MM-dd')}" 
				  th:href="@{/blog/date/{time}(time=*{#calendars.format(postDate,'yyyy-MM-dd')})}">日期</a>
				  
				 <div style="float: right;"> 
				     <a href="javascript:void(0)" id="chn" style="color:gray">中文 </a>
				     |<a href="javascript:void(0)" id="eng" >英文 </a> 
				     |<a href="javascript:void(0)" id="all" >中英文对照 </a>
				 </div>
			</h4>

			<div class="am-g blog-content" id="blog-chn" th:utext="*{context}">
			</div>
			
			<div class="am-g blog-content" id="blog-eng" style="display:none" th:utext="*{contextEng}">
			</div>

		</article>
		<script src="../../amazeui/assets/js/jquery.min.js"	th:href="@{/amazeui/assets/js/jquery.min.js}"></script>
		<script src="../web/js/blog/article.js"
			th:src="@{/web/js/blog/article.js}"></script>

	</div>

</body>
</html>


